<!DOCTYPE html>
<html>
<body>

<h2>Создать новое голосование</h2>
<head>
    <meta charset="UTF-8">
</head>

<form action="create" method="POST">

    <br>
    <fieldset>
        <legend>Любимый исполнитель (минимум 2)</legend>
        <input type="text" name="artist" placeholder="Исполнитель"><br>
        <input type="text" name="artist" placeholder="Исполнитель"><br>
        <input type="text" name="artist" placeholder="Исполнитель"><br>
        <input type="text" name="artist" placeholder="Исполнитель"><br>
        <input type="text" name="artist" placeholder="Исполнитель"><br>
    </fieldset>
    <br>
    <fieldset>
        <legend>Любиме жанры (минимум 2)</legend>
        <input type="text" name="genre" placeholder="Жанр"><br>
        <input type="text" name="genre" placeholder="Жанр"><br>
        <input type="text" name="genre" placeholder="Жанр"><br>
        <input type="text" name="genre" placeholder="Жанр"><br>
        <input type="text" name="genre" placeholder="Жанр"><br>
        <input type="text" name="genre" placeholder="Жанр"><br>
        <input type="text" name="genre" placeholder="Жанр"><br>
        <input type="text" name="genre" placeholder="Жанр"><br>
        <input type="text" name="genre" placeholder="Жанр"><br>
        <input type="text" name="genre" placeholder="Жанр"><br>
    </fieldset>
    <br>
    <input type='submit' value='Готово'>
</form>


</body>
</html>